---
const { title } = Astro.props;
---

<div class="my-2 mx-1 p-2 border-4 border-gray-400">
  {
    title && (
      <h1 class="text-gray-400 uppercase border-b-2 border-gray-300 mb-3">
        {title}
      </h1>
    )
  }
  <slot />
</div>
