<div
  class="hidden md:block container mx-auto text-center border-t-4 border-black"
>
  <ul class="flex mx-auto pt-3 pb-8 justify-center">
    <li><a href="/" class="m-3">Conciertos</a>|</li>
    <li><a href="/" class="m-3">Discos</a>|</li>
    <li><a href="/" class="m-3">Noticias</a>|</li>
    <li><a href="/" class="m-3">Entrevistas</a>|</li>
    <li><a href="/" class="m-3">Agenda</a>|</li>
    <li><a href="/" class="m-3">BiginnerTV</a></li>
  </ul>
</div>
