---
import logo from "@assets/images/logo.gif";
---

<div
  class="header container mx-auto w-11/12 md:w-full flex items-center justify-center md:justify-between relative
    before:absolute before:content-[''] before:-z-10 before:w-full before:block before:bg-black before:bottom-0 before:h-0.5
    md:before:bottom-1 md:before:h-1"
>
  <a href="/" class="w-40 md:w-72">
    <img src={logo.src} class="logo object-fill" alt="Biginner" />
  </a>
  <div class="hidden md:block">
    <nav>
      <ul class="flex mt-10 mr-3">
        <li>
          <a class="ml-5 uppercase font-sans" href="/" data-astro-prefetch
            >Noticias</a
          >
        </li>
        <li>
          <a class="ml-5 uppercase font-sans" href="/discos" data-astro-prefetch
            >Discos</a
          >
        </li>
        <li>
          <a class="ml-5 uppercase font-sans" href="/" data-astro-prefetch
            >Conciertos</a
          >
        </li>
        <li>
          <a class="ml-5 uppercase font-sans" href="/" data-astro-prefetch
            >Entrevistas</a
          >
        </li>
        <li>
          <a class="ml-5 uppercase font-sans" href="/" data-astro-prefetch>Tv</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
